.st {
    background-color: azure;
    margin: 50px 100px 50px;
    border-radius: 0 10px ;
    box-shadow: 4px -4px 3px #acb5ff;
}

.style1 {
    background-color: #1c949d;

    height: 50px;
    padding: 5px;
    margin: 3px;
    width: 65%;
    text-align: center;
    float: left;
    border-radius: 0 10px ;
    box-shadow: 4px -4px 3px #b5b64b;

}
.style2 {
    background-color: #1c949d;

    height: 50px;
    padding: 5px;
    margin: 3px;
    float: right;
    width: 30%;
    border-radius: 0 10px ;
    box-shadow: 4px -4px 3px #b5b64b;

}
.textarea {
    width:80%;
    height:30px;
    resize: none;
    margin: 5px;
    border-radius: 0 10px ;
    float: left;
}
.button {
    float: left;

}
.text{
    width: 40%;
    height:30px;
    resize: none;
    margin: 5px;
    border-radius: 0 10px ;
    float: left;
}